@import url('reset.css');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 720px;
}
.navbar {
    display: flex;
    background-color: #f0f8ff;
    /* flex-direction: row; */
    height: 14vh;
    min-height: 67px;
    justify-content: center;
    align-items: center;
    min-width: 720px;

}
.inner-navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    min-width: 648px;
}
.inner-navbar-container>div {
    /* display: flex; */
    /* justify-content: flex-start; */
    font-size: 1.5em;
    align-items: center;
}
.question-img {
    /* width: 5%; */
    min-width: 72px;
    height: 70%;
    text-align: center;
}
.main-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 82vh;
    min-height: 394px;
    background-color: #ffd6c1;
}
.main-container>div {
    width: 40%;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #ffd6c1;
    height: 4vh;
    min-height: 19px;
}
.quote1 {
    font-size: 4.4em;
    font-weight: bolder;
}
.quote2-container {
    display: flex;
    flex-flow: column;
    
}
.quote2 {
    color: #ffa500;
    font-size: 1.8em;
    font-weight: bold;
}
.quote-states {
    display: flex;
    justify-content: space-around;
    font-size: 0.5em;
    padding-top: 1.5em;
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    font-size: 1.1em;
    font-weight: bolder; 
}
