@import url('reset.css');
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 720px;
}

.navbar {
    display: flex;
    height: 14vh;
    min-height: 67px;
    min-width: 720px;
    background-color: #f0f8ff;
    align-items: center;

}
.question-img {
    height: 40%;
    width: 10%;
    text-align: center;
}
.inner-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    min-width: 648;
}